openapi: 3.1.1
info:
  title: upbot API Documentation
  description: ""
  version: 1.0.0
servers:
  - url: https://api.upbot.app
tags:
  - name: Monitor Management
    description: |-
      
      APIs for managing monitors
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: You can retrieve your token by visiting your dashboard and clicking
        <b>Generate API token</b>.
security:
  - default: []
paths:
  /api/monitors:
    get:
      summary: Display a listing of the resource.
      operationId: displayAListingOfTheResource
      description: ""
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          examples:
                            - 0199dd47-e8c0-7302-852f-4e19ba21dfc5
                        display_name:
                          type: string
                          examples:
                            - Hauck Ltd Monitor
                        type:
                          type: string
                          examples:
                            - http
                        target:
                          type: string
                          examples:
                            - https://ankunding.info/ullam-inventore-sit-praesentium-omnis-libero-tempora.html
                        interval:
                          type: integer
                          examples:
                            - 60
                        status:
                          type: string
                          examples:
                            - online
                        retry_count:
                          type: integer
                          examples:
                            - 0
                        avatar_url:
                          type: string
                          examples:
                            - https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https%3A%2F%2Fankunding.info%2Fullam-inventore-sit-praesentium-omnis-libero-tempora.html&size=128
                        created_at:
                          type: string
                          examples:
                            - 2025-10-13T11:15:01.000000Z
                        updated_at:
                          type: string
                          examples:
                            - 2025-10-13T11:15:01.000000Z
                        bot:
                          type: string
                          examples:
                            - null
                    examples:
                      - - id: 0199dd47-e8c0-7302-852f-4e19ba21dfc5
                          display_name: Hauck Ltd Monitor
                          type: http
                          target: https://ankunding.info/ullam-inventore-sit-praesentium-omnis-libero-tempora.html
                          interval: 60
                          status: online
                          retry_count: 0
                          avatar_url: https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https%3A%2F%2Fankunding.info%2Fullam-inventore-sit-praesentium-omnis-libero-tempora.html&size=128
                          created_at: 2025-10-13T11:15:01.000000Z
                          updated_at: 2025-10-13T11:15:01.000000Z
                          bot: null
                        - id: 0199dd47-e8ce-7118-8d4a-64ce52728c3d
                          display_name: Fahey and Sons Monitor
                          type: ping
                          target: http://hermann.com/qui-nostrum-facilis-harum-vel-rerum-consequatur-molestiae-amet.html
                          interval: 60
                          status: unknown
                          retry_count: 0
                          avatar_url: ""
                          created_at: 2025-10-13T11:15:01.000000Z
                          updated_at: 2025-10-13T11:15:01.000000Z
                          bot: null
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        examples:
                          - /?page=1
                      last:
                        type: string
                        examples:
                          - null
                      prev:
                        type: string
                        examples:
                          - null
                      next:
                        type: string
                        examples:
                          - null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        examples:
                          - 1
                      current_page_url:
                        type: string
                        examples:
                          - /?page=1
                      from:
                        type: integer
                        examples:
                          - 1
                      path:
                        type: string
                        examples:
                          - /
                      per_page:
                        type: string
                        examples:
                          - "15"
                      to:
                        type: integer
                        examples:
                          - 2
                examples:
                  - data:
                      - id: 0199dd47-e8c0-7302-852f-4e19ba21dfc5
                        display_name: Hauck Ltd Monitor
                        type: http
                        target: https://ankunding.info/ullam-inventore-sit-praesentium-omnis-libero-tempora.html
                        interval: 60
                        status: online
                        retry_count: 0
                        avatar_url: https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https%3A%2F%2Fankunding.info%2Fullam-inventore-sit-praesentium-omnis-libero-tempora.html&size=128
                        created_at: 2025-10-13T11:15:01.000000Z
                        updated_at: 2025-10-13T11:15:01.000000Z
                        bot: null
                      - id: 0199dd47-e8ce-7118-8d4a-64ce52728c3d
                        display_name: Fahey and Sons Monitor
                        type: ping
                        target: http://hermann.com/qui-nostrum-facilis-harum-vel-rerum-consequatur-molestiae-amet.html
                        interval: 60
                        status: unknown
                        retry_count: 0
                        avatar_url: ""
                        created_at: 2025-10-13T11:15:01.000000Z
                        updated_at: 2025-10-13T11:15:01.000000Z
                        bot: null
                    links:
                      first: /?page=1
                      last: null
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      current_page_url: /?page=1
                      from: 1
                      path: /
                      per_page: "15"
                      to: 2
      tags:
        - Monitor Management
      security: []
    post:
      summary: Store a newly created resource in storage.
      operationId: storeANewlyCreatedResourceInStorage
      description: ""
      parameters: []
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    examples:
                      - 0199d811-f889-7130-a91f-62fd291c06d6
                examples:
                  - id: 0199d811-f889-7130-a91f-62fd291c06d6
      tags:
        - Monitor Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: This field is required unless <code>type</code> is in
                    <code>discord_bot</code>. Must not be greater than 255
                    characters.
                  nullable: false
                  examples:
                    - b
                type:
                  type: string
                  description: ""
                  nullable: false
                  enum:
                    - discord_bot
                    - http
                    - ping
                  examples:
                    - ping
                target:
                  type: string
                  description: This field is required unless <code>type</code> is in
                    <code>discord_bot</code>. Must not be greater than 255
                    characters.
                  nullable: false
                  examples:
                    - n
                retry_count:
                  type:
                    - integer
                    - "null"
                  description: This field is required unless <code>type</code> is in
                    <code>discord_bot</code>. Must be at least 0. Must not be
                    greater than 10.
                  examples:
                    - 7
                interval:
                  type: string
                  description: This field is required unless <code>type</code> is in
                    <code>discord_bot</code>.
                  nullable: false
                  enum:
                    - "30"
                    - "60"
                    - "120"
                    - "300"
                    - "600"
                  examples:
                    - "30"
                bot:
                  type: object
                  description: This field is required when <code>type</code> is
                    <code>discord_bot</code>.
                  nullable: false
                  properties:
                    discord_bot_id:
                      type: string
                      description: This field is required when <code>type</code> is
                        <code>discord_bot</code>. Must match the regex
                        /^\d{17,19}$/.
                      nullable: false
                      examples:
                        - "56425593142326822"
                    discord_guild_id:
                      type: string
                      description: This field is required when <code>type</code> is
                        <code>discord_bot</code>. Must match the regex
                        /^\d{17,19}$/.
                      nullable: false
                      examples:
                        - "56425593142326822"
                  examples:
                    - null
              required:
                - type
      security: []
  /api/monitors/{id}:
    delete:
      summary: Delete a specific monitor.
      operationId: deleteASpecificMonitor
      description: Deletes the given monitor if the user is authorized.
      parameters: []
      responses:
        "204":
          description: Successful deletion
          content:
            text/plain:
              schema:
                type: string
                examples:
                  - No content.
        "403":
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: string
                examples:
                  - User is not allowed to delete this monitor.
        "404":
          description: Not found
          content:
            text/plain:
              schema:
                type: string
                examples:
                  - Monitor does not exist.
      tags:
        - Monitor Management
      security: []
    parameters:
      - in: path
        name: id
        description: The ID of the monitor.
        required: true
        schema:
          type: string
        examples:
          default:
            value: 019875ab-234e-7248-b6db-c37b7e0d8aad
